/*结束文章符号*/
.over {
    width: 40px;
    height: 40px;
    border: 1px solid #000001;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    margin: 20px auto 5px;
    text-shadow: 0 0 black;
}
.advertisement {
    position: fixed;
    right: 20px;
    top: 100px;
    width: 110px;
    box-shadow: -1px 0 2px 0px #c5ebda;
    padding: 10px;
    z-index: 99;
    background-color: #fff;
    text-align: center;
}
    
.advertisement p,
    h4 {
    margin: 0;
    padding: 0;
    }

.advertisement .Tencent_code h4 {
    font-size: 15px;
    color: #25a46a;
    margin-bottom: 10px;
}


/*添加代码块复制按钮样式*/
.docsify-copy-code-button {
    background: #00a1d6 !important;
    color: #FFFFFF !important;
    font-size: 13px !important;
    display: none;
}

::after{
    color: #9da2fd !important;
    font-size: 13px !important;
}
.markdown-section>p {
    font-size: 16px !important;
}

